@media(max-width:767px){
    .banner {
        max-height: 200px;
    }
    .loginGroup {
        margin-top: 20px;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }

}
@media(min-width:768px){
    .banner{
        max-height: 300px;
    }
    .row {
        margin-left: 0;
        margin-right:0;
    }
    .loginGroup {
        margin-top: 40px;
    }
}
@media(min-width:992px){
    .banner{
        max-height: 400px;
    }
    .loginGroup {
        margin-top: 80px;
    }
}
@media(min-width:1200px){
    .banner{
        max-height: 400px;
    }
    .loginGroup {
        margin-top: 120px;
    }
}

.successButton:after{
    content:'Success';
}
.successButton:hover:after{
    content:'Reload';
}
.successButton:hover{
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.errorButton:after{
    content:'Error';
}
.errorButton:hover:after{
    content:'Reload';
}
.errorButton:hover{
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.hoverWhiteText *:hover{
    color: white;
}

.hoverWhiteText:hover > a > a {
    color: white;
}